<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>lab.mikansei.omt-obs-plugin</string>
	<key>CFBundleName</key>
	<string>OMT OBS Plugin (Rust)</string>
	<key>CFBundleDisplayName</key>
	<string>OMT OBS Plugin (Rust)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleExecutable</key>
	<string>libomt_obs_plugin</string>
</dict>
</plist>
